[Desktop Entry]
Version=1.0
Type=Application
Name=github doc
Icon=/home/tc/.local/share/applications/my-ubuntu-helper/desktop/icon/default-icon.png
Exec=electron-webbox --args url="https://fallengodcoder.github.io/IndexBlog/" maximize
Comment=githubdoc;doc;githubpage;
Categories=web tools
Terminal=false

