[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ DataGrip
Icon=/opt/DataGrip-2020.3/bin/datagrip.svg
Exec="/opt/DataGrip-2020.3/bin/datagrip.sh" %f
Comment=Data Grip
Categories=Development;DB Mangent;
Terminal=false
StartupWMClass=jetbrains-datagrip
