[Desktop Entry]
Version=1.0
Type=Application
Name=ProcessOn
Icon=/home/tc/.local/share/applications/my-ubuntu-helper/desktop/icon/default-icon.png
Exec=electron-webbox --args url="https://www.processon.com/diagrams" maximize
Comment=ProcessOn
Categories=draw;paint online;processOn;
Terminal=false

